name: Test application running state
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ '3.7', '3.8' ]
    name: Test with Python ${{ matrix.python-version }}
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
        architecture: x64
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Try an execution
      run: |        
        python website_passive_recon.py -d righettod.eu -n 8.8.8.8
        python website_passive_recon.py -d www.excellium-services.com
        python website_passive_recon.py -d mail.google.com
        python website_passive_recon.py -d microsoft.com
